@use '../../../../../../public/assets/styles';

.content-wrapper {
  @include styles.flex-center;
  margin-top: 100px;
  margin-bottom: 80px;
  padding-right: 120px;
}

a {
  align-self: self-start;
}

.contact {
  @include styles.flex-center(column);
  padding: 0px 9% 0px 14%;
  gap: 16px;
  &__first-line {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 26px;
    margin-left: 2px;
    p {
      width: 50%;
    }
    gap: 36px;
    &--telMail {
      @include styles.flex-center(column);
      align-items: flex-start;
      gap: 20px;
      a {
        @include styles.flex-center;
        gap: 20px;
      }
    }
  }
}
.link:hover {
  color: #89bcd9;
}

.mail-hover:hover {
  stroke: #89bcd9;
}

input:invalid {
  color: red;
  border: 1px solid red;
}

.input {
  @include styles.flex-center(column);
  gap: 20px;
  &__content {
    @include styles.flex-center;
    gap: 20px;
    &--third {
      width: 920px;
      height: 164px;
      input.value {
        color: white;
      }
    }
  }
  .has-error {
    h5 {
      color: red;
    }
    .inpContact,
    .inpThird {
      border: 1px solid red;
      color: red;
    }
  }

  .inpContact {
    width: 450px;
    height: 60px;
    border: 1px solid #89bcd9;
    border-radius: 30px;
    background: #262e34;
    padding-left: 10px;
  }

  .inpThird {
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
    width: 100%;
    height: 90%;
    border: 1px solid #89bcd9;
    border-radius: 30px;
    background: #262e34;
  }

  .inpTxt {
    color: #f8f5ec;
  }

  .accept {
    width: 100%;
    @include styles.flex-center;
    justify-content: flex-start;
    gap: 5px;
    button {
      background: #262e34;
      border-style: none;
      padding: 0;
    }
    .pri-pol {
      color: #89bcd9;
    }
  }
}

h5 {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 30px;
  padding: 0 0 2px 28px;
  color: #89bcd9;
  img {
    background-color: #89bcd9;
  }
}

.arrow-up {
  padding-top: 15px;
}

.send-btn {
  display: flex;
  align-self: end;
  justify-self: end;
  background: #262e34;
  border: 1px solid #89bcd9;
  color: #89bcd9;
  cursor: pointer;
  &:disabled {
    background: #262e34;
    border: 1px solid #f8f5ec;
    color: #f8f5ec;
  }
}
