<section class="content-wrapper">
  <div class="contact">
    <h2>Contact me</h2>
    <div class="contact__first-line">
      <p>
        Encourage people to contact you and describe what role you are interested in. Show that you
        will add value to their projects through your work. Example: Feel free to get in touch with
        job offers or opportunities such as: ...
      </p>
      <div class="contact__first-line--telMail">
        <a href="mailto:elias.h.989@hotmail.com"
          ><img src="assets/icons/icon_email.svg" alt="" />elias.h.989@hotmail.com</a
        >
        <a href="tel:+491728570571"
          ><img src="assets/icons/icon_phone.svg" alt="" />+49 1728570571</a
        >
      </div>
    </div>
    <div class="input">
      <div class="input__content">
        <div class="input__content--first">
          <h5>Your Name</h5>
          <input class="inpContact" type="text" />
        </div>
        <div class="input__content--second">
          <h5>Your Email</h5>
          <input class="inpContact" type="text" />
        </div>
      </div>
      <div class="input__content--third">
        <h5>Your Message</h5>
        <input type="text" />
      </div>
      <div class="accept">
        <button class="accept--btn">
          <img src="assets/icons/Check box.svg" alt="" />
        </button>
        <p>
          i´ve read the <span class="pri-pol">private policy</span> and agree to the processing of
          my data as outlined.
        </p>
      </div>
      <button>Send</button>
    </div>
  </div>
  <button class="btn-arrow"><img src="assets/icons/btn_arrow_up.svg" alt="" /></button>
</section>
