<section class="content-wrapper" ngTabs>
  <h2>My Projects</h2>
  <div ngTabList selectionMode="follow" selectedTab="el-pollo-loco">
    <div ngTab value="el-pollo-loco">El Pollo Loco</div>
    <div ngTab value="join">Join</div>
  </div>
  <div class="sliding-window">
    <div ngTabPanel [preserveContent]="true" value="el-pollo-loco">
      <ng-template ngTabContent>
        <div class="box__left">
          <ul>
            <div class="box__left--firstLine">
              <li>
                About the project &nbsp; <span class="duration">Duration: 5 weeks</span>
                <br />
                <p>
                  A simple Jump-and-Run game based on an object-oriented approach. Help pepe to find
                  coins and salsa bottles to fight against the enboss chicken.
                </p>
              </li>
            </div>
            <li>
              How I have organised my work process <br />
              <p>
                How do you keep your code clean and maintainable? Have you broken the project down
                into reusable modules or components? Focus on documentation, naming files,
                variables, classes and testing.
              </p>
            </li>
            <li>
              What I have learned
              <p>
                As someone who is always trying to learn new technologies, you may have enjoyed
                working on this project because it allowed you to delve deep into a particular
                technology. Give details, such as the name of the framework or language you mean.
              </p>
            </li>
          </ul>
        </div>
        <div class="box__right">
          <p>Technologies</p>
          <div class="techIcons">
            <img src="assets/images/Angular_Projects.png" alt="" />
            <img src="assets/images/TS_Projects.png" alt="" />
            <img src="assets/images/FireBase_Projects.png" alt="" />
          </div>
          <div class="box__right--imgBox">
            <img src="assets/images/el_pollo_loco.png" alt="" />
          </div>
          <div class="box__right--btn">
            <a href=""><button class="btn-primary">Live Test</button></a>
            <a href="https://github.com/eliashashimi/EL-POLLO-LOCO"
              ><button class="btn-secondary">Github</button></a
            >
          </div>
        </div>
      </ng-template>
    </div>
    <div ngTabPanel [preserveContent]="true" value="join">
      <ng-template ngTabContent>
        <div class="box__left">
          <ul>
            <div class="box__left--firstLine">
              <li>
                About the project &nbsp; <span class="duration">Duration: 2 months</span> <br />
                <p>
                  Task manager inspired by the Kanban System. Create and organize tasks using drag
                  and drop functions, assign users and categories.
                </p>
              </li>
            </div>
            <li>
              How I have organised my work process <br />
              <p>
                How do you keep your code clean and maintainable? Have you broken the project down
                into reusable modules or components? Focus on documentation, naming files,
                variables, classes and testing.
              </p>
            </li>
            <li>
              My group work experience <br />
              <p>
                How many people were in the team and what was your role? Describe your tasks in 1-2
                sentences, for example: login form, dashboard or chat functionality. What
                technologies did you use? It is nice to mention good teamwork and cooperation.
              </p>
            </li>
          </ul>
        </div>
        <div class="box__right">
          <p>Technologies</p>
          <div class="techIcons">
            <img src="assets/images/Html_Projects.png" alt="" />
            <img src="assets/images/JS_Projects.png" alt="" />
            <img src="assets/images/CSS_Projects.png" alt="" />
          </div>
          <div class="box__right--imgBox">
            <img src="assets/images/comming-soon.png" alt="" />
          </div>
          <div class="box__right--btn">
            <a href=""><button class="btn-primary">Live Test</button></a>
            <a href="https://github.com/eliashashimi/EL-POLLO-LOCO"
              ><button class="btn-secondary">Github</button></a
            >
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</section>
