<section class="my-projects">
  <div class="my-projects__content">
    <h2>My Projects</h2>
    <div>
      <button id="tab-daBubble" class="tab-btn active" (click)="('')">1.Da Bubble</button>
      <button id="tab-elPolloLoco" class="tab-btn" (click)="('')">2.El Pollo Loco</button>
      <button id="tab-join" class="tab-btn" (click)="('')">3.Join</button>
      <button id="tab-ongoingProject" class="tab-btn" (click)="('')">4.Ongoing Project</button>
      <div class="my-projects__content__box">
        <div class="my-projects__content__box--left">
          <table class="my-projects__content__table">
            <!-- @for (item of list; track item.name; let index = $index) {
                <tr role="link">
                  <th>{{ item.header1 }}</th>
                  <td>{{ item.text1 }}</td>
                </tr>
                <tr>
                  <th>{{ item.header2 }}</th>
                  <td>{{ item.text2 }}</td>
                </tr>
                <tr>
                  <th>{{ item.header3 }}</th>
                  <td>{{ item.text3 }}</td>
                </tr>
              } -->
            <tr>
              <th>About the project</th>
              <td>
                This App is a Slack Clone App. It revolutionizes team communication and
                collaboration with its intuitive interface, real-time messaging, and robust channel
                organization.
              </td>
            </tr>
            <tr>
              <th>How I have organised my work process</th>
              <td>
                How do you keep your code clean and maintainable? Have you broken the project down
                into reusable modules or components? Focus on documentation, naming files,
                variables, classes and testing.
              </td>
            </tr>
            <tr>
              <th>My group work experience</th>
              <td>
                How many people were in the team and what was your role? Describe your tasks in 1-2
                sentences, for example: login form, dashboard or chat functionality. What
                technologies did you use? It is nice to mention good teamwork and cooperation.
              </td>
            </tr>
          </table>
        </div>
        <div class="my-projects__content__box--right">
          <h4>Technologies</h4>
          <!-- @for (item of list; track item.name; let index = $index) {} -->

          <div>
            <img src="" alt="" />
            <img src="" alt="" />
            <img src="" alt="" />
          </div>
          <div class="my-projects__content__box--right--imgBox">
            <img src="" alt="" />
          </div>
          <div>
            <a href=""
              ><button><img src="" alt="" /></button
            ></a>
            <a href=""
              ><button><img src="" alt="" /></button
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
