<section id="why-me" class="why-me">
  <div class="why-me__content">
    <h2>Why me</h2>
    <div class="why-me__box">
      <div class="why-me__box--left">
        <div class="why-me__box--location">
          <img
            class="why-me__box--icon"
            src="assets/images/location-icon.png"
            alt="Location Icon"
          />
        </div>
        <p><span class="why-me__box--blue-text">I am</span> located in Langen</p>
      </div>
      <div class="why-me__box--right">
        <div>
          <table class="why-me__box--right--table">
            <tr>
              <td>
                I leverage the full power of Angular to build structured, maintainable, and
                high-performing Single Page Applications (SPAs). From efficient data binding to
                modular component design, I know how to scale applications effectively.
              </td>
            </tr>
          </table>
        </div>
        <div>
          <button class="why-me__box--lets-talk">
            <img src="assets/images/Button Secondary Web.png" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
