@use '../../../../../../public/assets/styles';

:host {
  @include styles.flex-center(column);
  width: 100%;
  max-width: 1440px;
  padding: 52px 290px;
}
.content {
  @include styles.flex-center;
  gap: 52px;
  margin-bottom: 24px;

  .location {
    @include styles.flex-center;
    gap: 8px;
    p {
      font-size: 30px;
      font-weight: 700;
      white-space: nowrap;
    }
  }
}
button {
  align-self: flex-end;
}
