<section id="why-me" class="why-me">
  <div class="content-wrapper">
    <h2>{{ 'whyMe.whyMe' | translate }}</h2>
    <div class="content">
      <div class="location">
        <img src="assets/images/location-icon.png" alt="Location" />
        <p>
          <span class="highlight">{{ 'whyMe.iAm' | translate }}</span>
          {{ 'whyMe.locatedIn' | translate }}
        </p>
      </div>
      <div class="lets-talk">
        <p style="font-size: 18px">
          {{ 'whyMe.text' | translate }}
        </p>
        <div class="talk-btn">
          <a href="#contact"><button class="btn-secondary">Let´s talk</button></a>
        </div>
      </div>
    </div>
    <div id="my-skills"></div>
  </div>
</section>
