<section class="skills">
  <div class="content-wrapper">
    <h2>My Skills</h2>
    <div class="my-skills__box">
      <div class="my-skills__box--left">
        <img
          class="my-skills__box--icon"
          src="assets/icons/Angular.svg"
          alt="Angular Icon and text"
        />
        <img
          class="my-skills__box--icon"
          src="assets/icons/Typescript.svg"
          alt="TypeScript Icon and text"
        />
        <img
          class="my-skills__box--icon"
          src="assets/icons/Javascript.svg"
          alt="JavaScript Icon and text"
        />
        <img class="my-skills__box--icon" src="assets/icons/HTML.svg" alt="HTML Icon and text" />
        <img class="my-skills__box--icon" src="assets/icons/CSS.svg" alt="CSS Icon and text" />
        <img
          class="my-skills__box--icon"
          src="assets/icons/Rest.Api.svg"
          alt="REST.API Icon and text"
        />
        <img
          class="my-skills__box--icon"
          src="assets/icons/Superbase.svg"
          alt="Superbase Icon and text"
        />
        <img class="my-skills__box--icon" src="assets/icons/Git.svg" alt="Git Icon and text" />
        <img
          class="my-skills__box--icon"
          src="assets/icons/Material-Design.svg"
          alt="Material Design Icon and text"
        />
        <img class="my-skills__box--icon" src="assets/icons/Scrum.svg" alt="Scrum Icon and text" />
      </div>
      <div class="my-skills__box--right">
        <p>I am currently learning</p>
        <div>
          <img src="assets/icons/React.svg" alt="React Icon and text" />
          <img src="assets/icons/Vue.svg" alt="Vue.js Icon and text" />
        </div>
        <p>
          Show that you are motivated to continually improve your skills, implement innovative
          solutions and stay abreast of new technologies.
        </p>
      </div>
    </div>
  </div>
</section>
<div id="my-projects"></div>
