/* You can add global styles to this file, and also import other style files */
@use '../public/assets/styles';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  position: relative;
}

body {
  background-color: #262e34;
  width: 100%;
}
