/* You can add global styles to this file, and also import other style files */
@use '../public/assets/styles';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  position: relative;
}

html,
body {
  background-color: #262e34;
  width: 100%;
}

.content-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 100px;
}

h2 {
  font-size: 60px;
  font-family: 'Anta';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #89bcd9;
  margin-bottom: 80px;
}

.highlight {
  color: #89bcd9;
}

span,
p,
li,
a,
h4,
h5,
button,
[ngTab] {
  font-family: 'Josefin Sans';
  font-style: normal;
  line-height: 120%;
}

span,
p,
li,
a,
button,
[ngTab] {
  color: white;
}

button {
  padding: 13px 30px;
  font-size: 18px;
  border-radius: 30px;
}
.btn-primary {
  color: #262e34;
  background: #89bcd9;
  border-style: none;
  :hover {
    background: #f8f5ec;
  }
  :active {
    background: #89bcd9;
  }
  :disabled {
    background: #262e34;
    color: #f8f5ec;
  }
}
.btn-secondary {
  color: #89bcd9;
  border: 1px solid #89bcd9;

  background: #262e34;
  :hover {
    background: #f8f5ec1f;
  }
  :disabled {
    background: #262e34;
    color: #f8f5ec;
  }
}
.btn-arrow {
  width: 38px;
  height: 89px;
  color: #89bcd9;
  border: 1px solid #89bcd9;
  background: #262e34;
  padding: 20px 8px;
  transition: all 0.3s ease-in-out;
}
.btn-arrow:hover {
  background: #f8f5ec1f;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.inpContact {
  width: 450px;
  height: 60px;
  border: 1px solid #89bcd9;
  border-radius: 30px;
  background: #262e34;
  :hover {
    cursor: pointer;
  }
  :active {
    background: #f8f5ec1f;
  }
}
