<section class="hero-wrapper-desktop">
  <img class="hero-img" src="assets/images/Frame 1.png" alt="Bewerbungsfoto" />
  <div class="hero-right-container">
    <div class="hero-upper-right">
      <figure class="hero-logo-name">
        <img class="hero-logo" src="assets/icons/Logo icon_light.png" alt="Logo icon" />
        <figcaption>
          <h5 class="hero-text">M.E.Hashimi</h5>
          <p class="hero-text">developer</p>
        </figcaption>
      </figure>
      <div class="social-btn">
        <a href="mailto:elias.h.989@hotmail.com"
          ><button class="btn email">
            <img src="assets/icons/Email button.svg" alt="Email Button" /></button
        ></a>
        <a href="https://github.com/eliashashimi"
          ><button class="btn github">
            <img src="assets/icons/Vector.svg" alt="Github Button" /></button
        ></a>
        <a href=""
          ><button class="btn Linkedin">
            <img src="assets/icons/Linkedin button.svg" alt="Linkedin Button" /></button
        ></a>
      </div>
    </div>
    <div class="hero-bottom-right">
      <h1 class="hero-text">Mir Elias Hashimi</h1>
      <h2 class="hero-text">FRONTEND DEVELOPER</h2>
    </div>
    <a href=""
      ><button class="hero-arrow-down"><img src="assets/images/Arrow down.png" alt="" /></button
    ></a>
  </div>
</section>
