<main>
  <section class="why-me">
    <div class="why-me__content">
      <h2>Why me</h2>
      <div id="why-me" class="why-me__box">
        <div class="why-me__box--left">
          <div class="why-me__box--location">
            <img
              class="why-me__box--icon"
              src="assets/images/location-icon.png"
              alt="Location Icon"
            />
          </div>
          <p><span class="why-me__box--blue-text">I am</span> located in Langen</p>
        </div>
        <div class="why-me__box--right">
          <div>
            <table class="why-me__box--right--table">
              <tr>
                <td>
                  I leverage the full power of Angular to build structured, maintainable, and
                  high-performing Single Page Applications (SPAs). From efficient data binding to
                  modular component design, I know how to scale applications effectively.
                </td>
              </tr>
            </table>
          </div>
          <div>
            <button class="why-me__box--lets-talk">
              <img src="assets/images/Button Secondary Web.png" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-skills">
    <div class="my-skills__content">
      <h2>My Skills</h2>
      <div class="my-skills__box">
        <div class="my-skills__box--left">
          <img
            class="my-skills__box--icon"
            src="assets/icons/Angular.svg"
            alt="Angular Icon and text"
          />
          <img
            class="my-skills__box--icon"
            src="assets/icons/Typescript.svg"
            alt="TypeScript Icon and text"
          />
          <img
            class="my-skills__box--icon"
            src="assets/icons/Javascript.svg"
            alt="JavaScript Icon and text"
          />
          <img class="my-skills__box--icon" src="assets/icons/HTML.svg" alt="HTML Icon and text" />
          <img class="my-skills__box--icon" src="assets/icons/CSS.svg" alt="CSS Icon and text" />
          <img
            class="my-skills__box--icon"
            src="assets/icons/Rest.Api.svg"
            alt="REST.API Icon and text"
          />
          <img
            class="my-skills__box--icon"
            src="assets/icons/Superbase.svg"
            alt="Superbase Icon and text"
          />
          <img class="my-skills__box--icon" src="assets/icons/Git.svg" alt="Git Icon and text" />
          <img
            class="my-skills__box--icon"
            src="assets/icons/Material-Design.svg"
            alt="Material Design Icon and text"
          />
          <img
            class="my-skills__box--icon"
            src="assets/icons/Scrum.svg"
            alt="Scrum Icon and text"
          />
        </div>
        <div class="my-skills__box--right">
          <div class="my-skills__box--right--inside">
            <p>I am currently learning</p>
            <div>
              <img src="assets/icons/React.svg" alt="React Icon and text" />
              <img src="assets/icons/Vue.svg" alt="Vue.js Icon and text" />
            </div>
            <p>
              Show that you are motivated to continually improve your skills, implement innovative
              solutions and stay abreast of new technologies.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-projects">
    <div class="my-projects__content">
      <h2>My Projects</h2>
      <div>
        <button id="tab-daBubble" class="tab-btn active" (click)="('')">1.Da Bubble</button>
        <button id="tab-elPolloLoco" class="tab-btn" (click)="('')">2.El Pollo Loco</button>
        <button id="tab-join" class="tab-btn" (click)="('')">3.Join</button>
        <button id="tab-ongoingProject" class="tab-btn" (click)="('')">4.Ongoing Project</button>
        <div class="my-projects__content__box">
          <div class="my-projects__content__box--left">
            <table class="my-projects__content__table">
              <!-- @for (item of list; track item.name; let index = $index) {
                <tr role="link">
                  <th>{{ item.header1 }}</th>
                  <td>{{ item.text1 }}</td>
                </tr>
                <tr>
                  <th>{{ item.header2 }}</th>
                  <td>{{ item.text2 }}</td>
                </tr>
                <tr>
                  <th>{{ item.header3 }}</th>
                  <td>{{ item.text3 }}</td>
                </tr>
              } -->
              <tr>
                <th>About the project</th>
                <td>
                  This App is a Slack Clone App. It revolutionizes team communication and
                  collaboration with its intuitive interface, real-time messaging, and robust
                  channel organization.
                </td>
              </tr>
              <tr>
                <th>How I have organised my work process</th>
                <td>
                  How do you keep your code clean and maintainable? Have you broken the project down
                  into reusable modules or components? Focus on documentation, naming files,
                  variables, classes and testing.
                </td>
              </tr>
              <tr>
                <th>My group work experience</th>
                <td>
                  How many people were in the team and what was your role? Describe your tasks in
                  1-2 sentences, for example: login form, dashboard or chat functionality. What
                  technologies did you use? It is nice to mention good teamwork and cooperation.
                </td>
              </tr>
            </table>
          </div>
          <div class="my-projects__content__box--right">
            <h4>Technologies</h4>
            <!-- @for (item of list; track item.name; let index = $index) {} -->

            <div>
              <img src="" alt="" />
              <img src="" alt="" />
              <img src="" alt="" />
            </div>
            <div class="my-projects__content__box--right--imgBox">
              <img src="" alt="" />
            </div>
            <div>
              <a href=""
                ><button><img src="" alt="" /></button
              ></a>
              <a href=""
                ><button><img src="" alt="" /></button
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
