<section class="main-content-wrapper">
  <div class="main-content why-me">
    <h2>Why me</h2>
    <div>
      <div class="left-content">
        <img src="assets/images/location-icon.png" alt="Location Icon" />
        <img src="assets/images/location-ellipse 20.png" alt="location-ellipse Icon" />
        <p><span class="blue-text">I am</span> located in Langen (Hessen)</p>
      </div>
      <div>
        <div>
          <table>
            <tr>
              <td>
                I love working with contemporary technologies like HTML, CSS/SCSS, JavaScript and
                React. I write clean, modular, and maintainable code that scales.
              </td>
            </tr>
            <tr>
              <td>
                I leverage the full power of Angular to build structured, maintainable, and
                high-performing Single Page Applications (SPAs). From efficient data binding to
                modular component design, I know how to scale applications effectively.
              </td>
            </tr>
          </table>
        </div>
        <div>
          <button class="lets-talk">Let´s talk</button>
        </div>
      </div>
    </div>
  </div>
</section>
