<app-header></app-header>

<section class="imprint">
  <div class="content-wrapper">
    <h2>Legal Notice</h2>
    <div class="imprint__head">
      <h4>Imprint</h4>
      <ul>
        <div>
          <br />
          <li>M. Elias Hashimi</li>
          <li>Musterstraße 7</li>
          <li>123456 Musterstadt</li>
        </div>
      </ul>
    </div>
    <br />
    <div>
      <h5>Exploring the Board</h5>
      <p>Email:elias.h989@hotmail.com</p>
    </div>
    <div>
      <br />
      <h5>Acceptence of terms</h5>
      <p>
        By accessing and using <span>Portfolio</span> (Product), you acknowledge and agree to the
        following terms and conditions, and any policies, guidelines, or amendments thereto that may
        be presented to you from time to time. We, the listed students, may update or change the
        terms and conditions from time to time without notice.
      </p>
    </div>
    <br />
    <div>
      <h5>Scope and ownership of the product</h5>
      <p>
        <span>Portfolio</span> has been developed as part of a student group project in a web
        development bootcamp at the <span>Developer Akademie GmbH</span>. It has an educational
        purpose and is not intended for extensive personal & business usage. As such, we cannot
        guarantee consistent availability, reliability, accuracy, or any other aspect of quality
        regarding this Product.
        <br />
        The design of Portfolio is owned by the <span>Developer Akademie GmbH</span>. Unauthorized
        use, reproduction, modification, distribution, or replication of the design is strictly
        prohibited.
      </p>
    </div>
    <br />
    <div>
      <h5>Proprietary rights</h5>
      <p>
        Aside from the design owned by Developer Akademie GmbH, we, the listed students, retain all
        proprietary rights in Portfolio, including any associated copyrighted material, trademarks,
        and other proprietary information.
      </p>
    </div>
    <br />
    <div>
      <h5>Use of the product</h5>
      <p>
        <span>Portfolio</span> is intended to be used for lawful purposes only, in accordance with
        all applicable laws and regulations. Any use of Portfolio for illegal activities, or to
        harass, harm, threaten, or intimidate another person, is strictly prohibited. You are solely
        responsible for your interactions with other users of <span>Portfolio</span>.
      </p>
    </div>
    <br />
    <div>
      <h5>Disclaimer of warranties and limitation of liability</h5>
      <p>
        <span>Portfolio</span> is provided "as is" without warranty of any kind, whether express or
        implied, including but not limited to the implied warranties of merchantability, fitness for
        a particular purpose, and non-infringement. In no event will we, the listed students, or the
        <span>Developer Akademie</span>, be liable for any direct, indirect, incidental, special,
        consequential or exemplary damages, including but not limited to, damages for loss of
        profits, goodwill, use, data, or other intangible losses, even if we have been advised of
        the possibility of such damages, arising out of or in connection with the use or performance
        of <span>Portfolio</span>.
      </p>
    </div>
    <br />
    <div>
      <h5>Indemnity</h5>
      <p>
        You agree to indemnify, defend and hold harmless us, the listed students, the
        <span>Developer Akademie</span>, and our affiliates, partners, officers, directors, agents,
        and employees, from and against any claim, demand, loss, damage, cost, or liability
        (including reasonable legal fees) arising out of or relating to your use of
        <span>Portfolio</span> and/or your breach of this Legal Notice.
        <br />
        For any questions or notices, please contact us at [Contact Email].
        <br />
        Date: October 02, 2026
      </p>
    </div>
  </div>
</section>
